body.archive {
    header {
        &.page-header {
            background: lighten($grey1, 35%);
        }
        h1 {
            &.page-title {
                color: lighten($grey1, 35%);
                position: relative;
                span {
                    color: $grey1;
                    text-transform: capitalize;
                    position: absolute;
                    left: 0;
                }
            }
        }
    }

    .archive-description {
        p {
            color: $grey1;
        }
    }

    main {
        .woocommerce-products-header {
            display: none;
        }
    }
}