
/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


a[href="https://silvestervella.com/?cat=4"] {
  display: none;
}

$primary-color: #b76e79;
$grey: #333333;